{% extends 'base.html' %}

{% block content %}
    
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis distinctio molestiae corporis quibusdam commodi, animi, obcaecati at saepe temporibus odio libero quae harum amet porro a dolor veritatis, iusto voluptas.</p>

        <div class="text-center">
            <a class = "btn btn-primary" href="{% url 'login' %}">
                Login
            </a>
            <a class = "btn btn-primary" href="{% url 'signup' %}">
                Signup
            </a>
        </div>

    </section>

</main>

{% endblock %}